body {
  font-family: 'Playfair Display', 'Arial',sans-serif;
  background-color: #fdf6f3; 
  margin: 0;
  padding: 0;
}

/* Header and Logo */
h1 {
  text-align: center;
  color: ivory;
  font-size: 2.5rem;
  margin-top: 30px;
}

.header {
  background-color: #ff92c2; /* Light pink */
  padding: 20px;
  text-align: center;
}

.header img {
  width: 80px; /* Adjust size as needed */
  border-radius: 50%; /* Optional: make it circular */
  margin-bottom: 20px; /* Space between the logo and header text */
}


/* Inventory List Section */
main {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #ff79c6; 
}

.inventory-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
  margin-top: 20px;
}

.inventory-item {
  background-color: #ffffff; 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.inventory-item:hover {
  transform: translateY(-5px); 
}

.inventory-item h3 {
  color: #ff79c6; 
  font-size: 1.5rem;
}

.inventory-item p {
  font-size: 1.2rem;
  color: #666;
}

.product-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 10px; 
  border: #ff79c6;
  border-style: solid;
  margin-bottom: 10px; 
}


/* Footer */
.footer {
  background-color: #ff92c2;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.footer p {
  color: #fff;
  margin: 0;
  font-size: 1rem;
}

/* Media for responsive design */
@media (max-width: 600px) {
  .header img {
    width: 60px;
  }

  .inventory-item {
    padding: 10px;
  }

  h1, h2 {
    font-size: 2rem;
  }
}
